.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: hsl(233, 10%, 17%);
  padding: 2rem 0 5rem;
  border-top-right-radius: 5rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.footer-logo {
  margin: 2.5rem 0;
}

.footer-list {
  text-align: center;
  list-style: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
  }
}

.list-title {
  font-weight: 500;
  color: var(--clr-text-90);
  margin: 2rem 0 1rem;
}

.list-link {
  text-decoration: none;
  color: var(--clr-text-400);
}
