@use "../base/index" as *;

:root {
  --accent-title: hsl(203, 48%, 26%);
  --paragraph-color: hsl(197, 3%, 37%);
}

.main {
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.first-section {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-areas:
      "title title title"
      "section-a  . ."
      "section-b . .";
    margin-top: 5rem;
    position: relative;
  }
}

.fi-section-title,
.th-section-title {
  color: var(--accent-title);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.main-title {
  margin-top: 3rem;

  @media (min-width: 1024px) {
    font-size: 2rem;
    grid-area: title;
  }
}

.fi-section-illustration {
  margin-inline: auto;
  filter: drop-shadow(30px 10px 4px hsl(0 0% 0% / 40%));

  @media (min-width: 1024px) {
    content: "";
    position: absolute;
    left: 55%;
  }
}

.title-paragraph-wrapper {
  @media (min-width: 1024px) {
    text-align: left;
  }
}

.fi-title-paragraph {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    width: 80.5ch;
    padding-left: 8rem;
  }

  @media (max-width: 1023px) {
    align-items: center;
    padding: 0 2rem;
  }
}

.section-a {
  grid-area: section-a;
}

.section-b {
  grid-area: section-b;
}

.fi-section-paragraph,
.th-section-paragraph {
  color: var(--paragraph-color);
}

.th-section-illustration {
  margin-inline: auto;
}

.th-title-paragraph {
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    align-items: center;
    padding: 0 2rem;
  }
}

.lmt-width {
  @media (max-width: 1023px) {
    width: 18ch;
  }
}

.padding-bot-large {
  padding-bottom: 6rem;
}

.second-section {
  overflow: hidden;
  background-color: hsl(233, 19%, 28%);
  margin-top: 6rem;
  padding-bottom: 4rem;

  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;

  position: relative;

  z-index: -1;
}

.se-section-illustration {
  margin-inline: auto;
  margin-bottom: -20rem;
}

.se-title-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.se-section-illustration-pattern {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.se-section-title,
.se-section-paragraph {
  color: var(--clr-text-90);
}

.se-section-title {
  font-size: 2rem;
  padding-top: 16.5rem;
  padding-bottom: 1.5rem;
}
