---
// Style Imports
import '../styles/main.scss';
import '../styles/pages/home.scss';
// Component Imports
import Header from '../layout/Header.astro'

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let blogrFavicon = "../../public/assets/favicon-32x32.png"
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blogr - Home</title>
		<link rel="icon" type="image/x-icon" href={blogrFavicon}>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
	</head>
	<body>

		<Header></Header>
	
	</body>
</html>