<nav class="navbar">
<img src="../../public/assets/logo.svg" alt="" class="logo">
	<div class="hamburger-menu">
		<div class="hamburger-menu"></div>
	</div>
	
</nav>

<style>
	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		margin-top: 2rem;
	}
	.hamburger-menu,
	.hamburger-menu::before,
	.hamburger-menu::after {
		width: 2.75rem;
		height: 3px;
		background-color: white;
		border-radius: .5rem;
	}

	.hamburger-menu::after,
	.hamburger-menu::before {
		content: '';
		position: absolute;
	}

	.hamburger-menu {
		position: relative;
	}

	.hamburger-menu::after {
		top: 10px;
	}

	.hamburger-menu::before {
		bottom: 10px;
	}
</style>