:root {
  --ff-roboto: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--ff-roboto);
  font-weight: 400;
}

li,
a,
p,
small {
  font-family: var(--ff-roboto);
  line-height: 1.8;
}

input,
button {
  font-family: var(--ff-roboto);
}
