---

---
<footer class="footer">
    <img src="../../assets/logo.svg" alt="" class="footer-logo">
    <!-- <div class="footer-wrapper"> -->
        <ul class="footer-list">
            <p class="list-title">Product</p>
            <li class="list-item"><a href="#overview" class="list-link">Overview</a></li>
            <li class="list-item"><a href="#pricing" class="list-link">Pricing</a></li>
            <li class="list-item"><a href="#marketplace" class="list-link">Marketplace</a></li>
            <li class="list-item"><a href="#features" class="list-link">Features</a></li>
            <li class="list-item"><a href="#integrations" class="list-link">Integrations</a></li>
        </ul>
        <ul class="footer-list">
            <p class="list-title">Company</p>
            <li class="list-item"><a href="#about" class="list-link">About</a></li>
            <li class="list-item"><a href="#team" class="list-link">Team</a></li>
            <li class="list-item"><a href="#blog" class="list-link">Blog</a></li>
            <li class="list-item"><a href="#careers" class="list-link">Careers</a></li>
        </ul>
        <ul class="footer-list">
            <p class="list-title">Connect</p>
            <li class="list-item"><a href="#contact" class="list-link">Contact</a></li>
            <li class="list-item"><a href="#newsletter" class="list-link">Newsletter</a></li>
            <li class="list-item"><a href="#linkedin" class="list-link">Linkedin</a></li>
        </ul>
    <!-- </div>   -->
</footer>