---
import MobileNav from '../layout/MobileNav.astro'
---
<header class="header">
   <MobileNav></MobileNav>
    <div class="title-paragraph">
        <h1 class="header-title">A modern publishing platform</h1>
        <p class="header-paragraph">Grow your audience and build your online brand</p>
    </div>

    <div class="call-to-action">
        <button class="start-for-free">Start for free</button>
        <button class="learn-more">Learn more</button>
    </div>
</header>