<nav class="navbar">
<img src="../../assets/logo.svg" alt="" class="logo">

<div class="desktop-nav">
	<ul class="navbar-list">
		<li class="navbar-list-item">Product</li>
		<li class="navbar-list-item">Company</li>
		<li class="navbar-list-item">Connect</li>
	</ul>

	<div class="button-wrapper">
		<button class="login">Login</button>
		<button class="sign-up">Sign Up</button>
	</div>
</div>


	<div class="hamburger-menu">
		<div class="hamburger-menu"></div>
	</div>
	
</nav>